extends ../layout

block content
  .container.my-4
    .row.justify-content-center
      .col-lg-5
        if info && info.message
          div.alert.alert-danger
            = info.message
        .card.shadow-lg.border-0.rounded-lg.mt-5
          .card-header
            h3.text-center.font-weight-light.my-4 Recuperar contraseña
          .card-body
            p Ingresa tu email para enviarle indicaciones de reset password
            form(action='/forgotPassword' method='post')
              .form-group
                label.small.mb-1(for='email') Email
                input#email.form-control.py-4(type='email' placeholder='Enter email address' name='email')
              .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                button.btn.btn-primary(type='submit') Recuperar