extends ../layout

block content
  .container.my-4
    .row.justify-content-center
      .col-lg-5
        if info && info.message
          div.alert.alert-danger
            = info.message
        .card.shadow-lg.border-0.rounded-lg.mt-5
          .card-header
            h3.text-center.font-weight-light.my-4 Login
          .card-body
                
            form(action='/login' method='post')
              .form-group
                label.small.mb-1(for='email') Email
                input#email.form-control.py-4(type='email' placeholder='Enter email address' name='username')
              .form-group
                label.small.mb-1(for='password') Password
                input#password.form-control.py-4(type='password' placeholder='Enter password' name='password')
              .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                a.small(href='/auth/google') Ingresar con Google
                
              .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                a.small(href='/forgotPassword') Forgot Password?
                button.btn.btn-primary(type='submit') Login
          .card-footer.text-center
            .small
              a(href='/users/create') Need an account? Sign up!