extends ../layout

block content
  .container.my-4
    .row.justify-content-center
      .col-lg-5
        if info && info.message
          div.alert.alert-danger
            = info.message
        .card.shadow-lg.border-0.rounded-lg.mt-5
          .card-header
            h3.text-center.font-weight-light.my-4 Restablecer Contraseña
          .card-body 
            form(action='/resetPassword' method='post')
              input#email(type='hidden' name='email' value=user.email)
              .form-group
                label(for='password') Password: 
                input#password.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
                if errors.password
                    small#passwordHelp.text-danger
                      = errors.password.message  
              .form-group
                label(for='confirm_pwd') Confirmar Password: 
                input#confirm_pwd.form-control(type='password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
                if errors.confirm_password
                    small#confirm_passwordHelp.text-danger
                      = errors.confirm_password.message  
              
              button.btn.btn-primary(type='submit') Restablecer