extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Red Bicicletas
      button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#home') Inicio
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#map-section') Mapa
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#contact') Contacto
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/bicicletas') Bicicletas
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/users') Usuarios
          li.nav-item.mx-0.mx-lg-1
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='/login') Login

  // Masthead
  header#home.masthead.text-center.text-primary
    .container.d-flex.align-items-center.flex-column
      // Masthead Avatar Image
      img.masthead-avatar.mb-5(src='/assets/img/med_bicycle-2.png' alt='')
      // Masthead Heading
      h1.masthead-heading.text-uppercase.mb-0 Red Bicletas Medellín
      // Icon Divider
      .divider-custom
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Masthead Subheading
      p.masthead-subheading.font-weight-light.mb-0 Pedaliando ando
        
  // Map Section
  section#map-section.page-section.bg-primary.text-white
    .container
      // Map Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-white Mapa
      // Icon Divider
      .divider-custom.divider-light
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Map Section Content
      div#map.page-section
      div.my-4.mx
        a.btn.btn-secondary.mx-auto(href= '/bicicletas') Ver Bicicletas
        
  // Contact Section
  section#contact.page-section
    .container
      // Contact Section Heading
      h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contacto
      // Icon Divider
      .divider-custom
        .divider-custom-line
        .divider-custom-icon
          i.fas.fa-star
        .divider-custom-line
      // Contact Section Form
      .row
        .col-lg-8.mx-auto
          // To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
          form#contactForm(name='sentMessage' novalidate='novalidate')
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Nombre
                input#name.form-control(type='text' placeholder='Name' required='required' data-validation-required-message='Please enter your name.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Email
                input#email.form-control(type='email' placeholder='Email Address' required='required' data-validation-required-message='Please enter your email address.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Telefono
                input#phone.form-control(type='tel' placeholder='Phone Number' required='required' data-validation-required-message='Please enter your phone number.')
                p.help-block.text-danger
            .control-group
              .form-group.floating-label-form-group.controls.mb-0.pb-2
                label Mensaje
                textarea#message.form-control(rows='5' placeholder='Message' required='required' data-validation-required-message='Please enter a message.')
                p.help-block.text-danger
            br
            #success
            .form-group
              button#sendMessageButton.btn.btn-primary.btn-xl(type='submit') Send
  // Footer
  footer.footer.text-center
    .container
      .row
        // Footer Social Icons
        .col-lg-4.mb-5.mb-lg-0
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-facebook-f
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-twitter
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-linkedin-in
          a.btn.btn-outline-light.btn-social.mx-1(href='#!')
            i.fab.fa-fw.fa-dribbble
        // Footer About Text
  // Copyright Section
  .copyright.py-4.text-center.text-white
    .container
      small Copyright &copy; Your Website 2020
  // Scroll to Top Button (Only visible on small and extra-small screen sizes)
  .scroll-to-top.d-lg-none.position-fixed
    a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
      i.fa.fa-chevron-up
  // Portfolio Modals
  
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Contact form JS
  script(src='/assets/mail/jqBootstrapValidation.js')
  script(src='/assets/mail/contact_me.js')
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/map.js')
