extends ../layout

block content
  .container.my-4
    a.btn.btn-secondary(href='/users') Volver 
    br
    br
    .card
      .card-header
        h1.text-primary Registro
      .card-body
        form(action='/users/create' method='post')
          .form-group
            label(for='name') Nombre:
            input#name.form-control(type='text' name='name' value=user.name class='form-control')
            if errors.name
              small#nameHelp.text-danger
                = errors.name.message

          .form-group
            label(for='email') Email:
            input#email.form-control(type='text' name='email' value=user.email class='form-control')
            if errors.email
              small#emailHelp.text-danger
                = errors.email.message

          .form-group
            label(for='password') Password:
            input#password.form-control(type='password' name='password' value=user.password class='form-control')
            if errors.password
              small#passwordHelp.text-danger
                = errors.password.message

          .form-group
            label(for='confirm_password') Confirmar Password:
            input#confirm_password.form-control(type='password' name='confirm_password' value=user.confirm_password class='form-control')
            if errors.confirm_password
              small#confirm_passwordHelp.text-danger
                = errors.confirm_password.message
          br
          br
          input.btn.btn-primary(type='submit' value='OK')