extends ../layout

block content
  .container.my-4
    a.btn.btn-secondary(href='/') Volver
    a.btn.btn-primary.mx-2(href='/users/create') Agregar Usuario
    br
    br
    .card
      .card-header
        h1.text-primary Listado Usuarios
      .card-body.table-responsive
        table.table.table-striped
          thead.thead
            tr
              th(scope='col') Nombre
              th(scope='col') Email
              th(scope='col') Verificado
              th(scope='col')
              th(scope='col')
          tbody
            each user in users
              tr
                td(scope='row')= user.name
                td= user.email
                td= user.verified
                td
                  a.btn.btn-sm.btn-primary(href= `/users/${user.id}/update`) Editar
                td
                  form.inline(method='post' action=`users/${user.id}/delete`)
                    input(type='hidden' name='id' value= user.id)
                    button.link-button(type='submit' name='submit_param' value='submit_param' class='btn btn-danger btn-sm')
                      = 'Eliminar'
                  