extends ../layout

block content
  .container.my-4
    a.btn.btn-secondary(href='/users') Volver
    br
    br
    .card
      .card-header
        h1.text-primary Actualizar Usuario
      .card-body
        form(action=`/users/${user.id}/update` method='post')
          .form-group
            label(for='name') Nombre:
            input#name.form-control(type='text' name='name' value=user.name class='form-control')
            br
            label(for='email') Email:
            input#email.form-control(type='text' name='email' value=user.email class='form-control')
            
            br
            br
            input.btn.btn-primary(type='submit' value='OK')