extends ../layout

block content
  .container.my-4
    a.btn.btn-secondary(href='/bicicletas') Volver    
    br
    br
    
    br
    br
    .card
      .card-header
        h1.text-primary Nueva Bicicleta
      .card-body
        form(action='/bicicletas/create' method='post')
          
          labeL(for='color') Color:
          input#color.form-control(type='text' name='color')
          br
          labeL(for='model') Modelo:
          input#model.form-control(type='text' name='model')
          br
          labeL(for='lat') Latitud:
          input#lat.form-control(type='text' name='lat')
          br
          labeL(for='lon') Longitud:
          input#lon.form-control(type='text' name='lon')
          br
          br
          input.btn.btn-primary(type='submit' value='Agregar')