extends ../layout

block content
  .container.my-4
    a.btn.btn-secondary(href='/') Volver
    a.btn.btn-primary.mx-2(href='/bicicletas/create') Agregar Bicicleta
    br
    br
    .card
      .card-header
        h1.text-primary Listado Bicicletas
      .card-body.table-responsive
        table.table.table-striped
          thead.thead
            tr 
              th(scope='col') #
              th(scope='col') Color
              th(scope='col') Modelo
              th(scope='col') Ubicacion
              th(scope='col') 
              th(scope='col') 
          tbody
            each bike in bikes
              tr
                td(scope='row')= bike.code
                td= bike.color
                td= bike.model
                td= bike.ubication
                td
                  a.btn.btn-sm.btn-primary(href= `/bicicletas/${bike.id}/update`) Editar
                td
                  form.inline(method='post' action='bicicletas/' + bike.id + '/delete')
                    input(type='hidden' name='id' value= bike.id)
                    button.link-button(type='submit' name='submit_param' value='submit_param' class='btn btn-danger btn-sm')
                      = 'Eliminar'

