extends ../layout

block content
  .container.my-4
    a.btn.btn-secondary(href='/bicicletas') Volver    
    br
    br
    
    br
    br
    .card
      .card-header
        h1.text-primary Nueva Bicicleta
      .card-body
        form(action=`/bicicletas/${bike.id}/update` method='post')
          label(for='id') Id:
          input#id.form-control(type='text' name='id' value=bike.id)
          br
          labeL(for='color') Color:
          input#color.form-control(type='text' name='color' value=bike.color)
          br
          labeL(for='model') Modelo:
          input#model.form-control(type='text' name='model' value=bike.model)
          br
          labeL(for='lat') Latitud:
          input#lat.form-control(type='text' name='lat' value=bike.ubication[0])
          br
          labeL(for='lon') Longitud:
          input#lon.form-control(type='text' name='lon' value=bike.ubication[1])
          br
          br
          input.btn.btn-primary(type='submit' value='Agregar')